
#survey-form {
    background-color: rgb(211, 211, 211, 0.6);
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    border-radius: 10px;
}
body {
    background-image: url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(32, 32, 32);
}
p {
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 1rem;
}
h1, p{
    color: white;
}
label {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-bottom: 0.5rem;
}
input {
    height: 30px;
    border-radius: 5px;
}
option {
    font-size: 18px;
}
button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}
select {
    padding: 10px;
}
span {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.hours-form {
    display: flex;
    flex-direction: column;
}
.computer-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.heading {
    color: white;
}
.hours-label {
    font-size: 20px;
}
.computer-label {
    font-size: 20px;
}
#name-label, #email-label, #number-label, .coding-label {
    margin-top: 10px;
    margin-bottom: 15px;
}
#textarea {
    font-size: 20px;
}